.sidebar {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

// .sidebarMobile {
//   background-color: white;
//   width: calc(100% - 96px);
//   padding-bottom: 0;
// }

@media (max-width: 1280px) {
  .sidebarMobile {
    width: calc(100% - 96px);
    padding-bottom: 0;
  }
}
