// mobile
.layout {
  background-color: white;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 1;
  .header {
    z-index: 2;
    display: block;
    width: 100%;
    height: 80px;
    position: static;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .sidebarAndDocPageAndToc {
    z-index: 1;
    display: flex;
    position: relative;
    .sidebar {
      display: none;
      background-color: white;
    }
    .sidebarMobile {
      z-index: 1;
      display: block;
      position: fixed;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
    }
    .sidebarMobileButton {
      z-index: 3;
      position: fixed;
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      height: 64px;
      width: 64px;
      right: 16px;
      bottom: 16px;
      border-radius: 100%;
      background-color: rgb(20, 100, 255);
      color: white;
    }
    .tableOfContentsMobileButton {
      z-index: 3;
      position: fixed;
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      height: 64px;
      width: 64px;
      right: 16px;
      bottom: 16px;
      border-radius: 100%;
      background-color: #ececec;
      color: #676767;
    }
    .docPageAndToc {
      flex-grow: 1;
      display: flex;
      width: 100%;
      .markdownAndFooter {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% - 40px);
        .markdown {
          padding: 20px;
          min-height: calc(100vh - 50px - 60px);
        }
      }
      .tableOfContents {
        display: none;
      }
      .tableOfContentsMobile {
        z-index: 2;
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #676767;
      }
    }
  }
}

.custom-button {
  font-size: 14.4px;
  border-radius: 3px;
  height: 42px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #676767;
  background-color: #ececec;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
  text-decoration: none;
  margin-left: 15px;
}

@media (min-width: 1280px) {
  .layout {
    .header {
      position: fixed;
      height: 60px;
      background-color: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(5px);
    }
    .sidebarAndDocPageAndToc {
      padding-top: 60px;
      width: 100%;
      .sidebar {
        display: block;
        position: fixed;
        width: 300px;
        height: calc(100vh - 60px);
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
      .sidebarMobile {
        display: none;
      }
      .sidebarMobileButton {
        display: none;
      }
      .docPageAndToc {
        margin-left: 300px;
        width: calc(100% - 300px);
        position: relative;
        .markdownAndFooter {
          margin-right: 300px;
          width: calc(100% - 300px);
          .markdown {
            padding: 30px;
          }
        }
        .tableOfContents {
          display: block;
          background: white;
          width: 300px;
          position: fixed;
          height: calc(100vh - 60px);
          right: 0;
          border-left: 1px solid rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}
