.tableOfContents {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.tableOfContentsMobile {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  width: calc(100% - 96px);
  background-color: white;
  padding-right: 10px;
}
