* {
  box-sizing: border-box;
}

*:not(.markdown pre *, .tw-admonition-cplncode *) {
  font-family: "proxima-nova", sans-serif;
}

@font-face {
  font-family: "SFMono";
  src: url("/fonts/SFMono/SFMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

details > summary {
  margin-bottom: 15px;
}

@media (min-width: 1280px) { 
  .mobile-toc {
    display: none;
  }
}

@media (max-width: 768px) {
  .algolia-autocomplete .ds-dropdown-menu {
    max-width: calc(100vw - 32px) !important;
    min-width: calc(100vw - 32px) !important;
    width: calc(100vw - 32px) !important;
    margin-left: 16px !important;
  }
  .algolia-autocomplete .algolia-docsearch-suggestion--content {
    width: 100% !important;
    padding-left: 0 !important;
  }
  .algolia-autocomplete .algolia-docsearch-suggestion--content:before {
    display: none !important;
  }
  .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
    display: none !important;
  }
}

.algolia-autocomplete * {
  font-size: 16px !important;
}

.algolia-autocomplete .algolia-docsearch-footer {
  font-size: 0 !important;
}