.markdown .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

.markdown .anchor:focus {
  outline: none;
}

.markdown h1 .octicon-link,
.markdown h2 .octicon-link,
.markdown h3 .octicon-link,
.markdown h4 .octicon-link,
.markdown h5 .octicon-link,
.markdown h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.markdown h1:hover .anchor,
.markdown h2:hover .anchor,
.markdown h3:hover .anchor,
.markdown h4:hover .anchor,
.markdown h5:hover .anchor,
.markdown h6:hover .anchor {
  text-decoration: none;
}

.markdown h1:hover .anchor .octicon-link,
.markdown h2:hover .anchor .octicon-link,
.markdown h3:hover .anchor .octicon-link,
.markdown h4:hover .anchor .octicon-link,
.markdown h5:hover .anchor .octicon-link,
.markdown h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown h1:hover .anchor .octicon-link:before,
.markdown h2:hover .anchor .octicon-link:before,
.markdown h3:hover .anchor .octicon-link:before,
.markdown h4:hover .anchor .octicon-link:before,
.markdown h5:hover .anchor .octicon-link:before,
.markdown h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E");
}.markdown {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown details {
  display: block;
}

.markdown summary {
  display: list-item;
}

.markdown a {
  background-color: initial;
}

.markdown a:active,
.markdown a:hover {
  outline-width: 0;
}

.markdown strong {
  font-weight: inherit;
  font-weight: bolder;
}

.markdown img {
  border-style: none;
}

.markdown code,
.markdown kbd,
.markdown pre, .markdown pre[class*="language-"] {
  font-family: monospace,monospace;
  font-size: 1em; 
}

@media (min-width: 1280px) {
  .markdown pre, .markdown pre[class*="language-"] {
    font-family: monospace,monospace;
    font-size: 1em;
  } 
}

.markdown hr {
  box-sizing: initial;
  height: 0;
  overflow: visible;
}

.markdown input {
  font: inherit;
  margin: 0;
}

.markdown input {
  overflow: visible;
}

.markdown [type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

.markdown * {
  box-sizing: border-box;
}

.markdown input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown a {
  color: #0366d6;
  text-decoration: none;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown strong {
  font-weight: 600;
}

.markdown hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.markdown hr:after,
.markdown hr:before {
  display: table;
  content: "";
}

.markdown hr:after {
  clear: both;
}

.markdown table {
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown td,
.markdown th {
  padding: 0;
}

.markdown details summary {
  cursor: pointer;
}

.markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown h1 {
  font-size: 26px;
  display: flex;
  align-items: center;
}

@media (min-width: 1280px) { 
  .markdown h1 {
    font-size: 32px;
    display: flex;
    align-items: center;
  }
}

.markdown h1,
.markdown h2 {
  font-weight: 600;
}

.markdown h2 {
  font-size: 24px;
}

.markdown h3 {
  font-size: 20px;
}

.markdown h3,
.markdown h4 {
  font-weight: 600;
}

.markdown h4 {
  font-size: 16px;
}

.markdown h5 {
  font-size: 14px;
}

.markdown h5,
.markdown h6 {
  font-weight: 600;
}

.markdown h6 {
  font-size: 12px;
}

.markdown p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown blockquote {
  margin: 0;
}

.markdown ol,
.markdown ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown ol {
  list-style-type: decimal;
}

.markdown ul {
  list-style-type: disc;
}

.markdown ol ol,
.markdown ul ol {
  list-style-type: lower-roman;
}

.markdown ol ol ol,
.markdown ol ul ol,
.markdown ul ol ol,
.markdown ul ul ol {
  list-style-type: lower-alpha;
}

.markdown dd {
  margin-left: 0;
}

.markdown code,
.markdown pre {
  font-family: SFMono !important;
  font-size: 12px;
}

.markdown pre {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown input::-webkit-inner-spin-button,
.markdown input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

.markdown :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.markdown .border {
  border: 1px solid #e1e4e8!important;
}

.markdown .border-0 {
  border: 0!important;
}

.markdown .border-bottom {
  border-bottom: 1px solid #e1e4e8!important;
}

.markdown .rounded-1 {
  border-radius: 3px!important;
}

.markdown .bg-white {
  background-color: #fff!important;
}

.markdown .bg-gray-light {
  background-color: #fafbfc!important;
}

.markdown .text-gray-light {
  color: #6a737d!important;
}

.markdown .mb-0 {
  margin-bottom: 0!important;
}

.markdown .my-2 {
  margin-top: 8px!important;
  margin-bottom: 8px!important;
}

.markdown .pl-0 {
  padding-left: 0!important;
}

.markdown .py-0 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.markdown .pl-1 {
  padding-left: 4px!important;
}

.markdown .pl-2 {
  padding-left: 8px!important;
}

.markdown .py-2 {
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}

.markdown .pl-3,
.markdown .px-3 {
  padding-left: 16px!important;
}

.markdown .px-3 {
  padding-right: 16px!important;
}

.markdown .pl-4 {
  padding-left: 24px!important;
}

.markdown .pl-5 {
  padding-left: 32px!important;
}

.markdown .pl-6 {
  padding-left: 40px!important;
}

.markdown .f6 {
  font-size: 12px!important;
}

.markdown .lh-condensed {
  line-height: 1.25!important;
}

.markdown .text-bold {
  font-weight: 600!important;
}

.markdown .pl-c {
  color: #6a737d;
}

.markdown .pl-c1,
.markdown .pl-s .pl-v {
  color: #005cc5;
}

.markdown .pl-e,
.markdown .pl-en {
  color: #6f42c1;
}

.markdown .pl-s .pl-s1,
.markdown .pl-smi {
  color: #24292e;
}

.markdown .pl-ent {
  color: #22863a;
}

.markdown .pl-k {
  color: #d73a49;
}

.markdown .pl-pds,
.markdown .pl-s,
.markdown .pl-s .pl-pse .pl-s1,
.markdown .pl-sr,
.markdown .pl-sr .pl-cce,
.markdown .pl-sr .pl-sra,
.markdown .pl-sr .pl-sre {
  color: #032f62;
}

.markdown .pl-smw,
.markdown .pl-v {
  color: #e36209;
}

.markdown .pl-bu {
  color: #b31d28;
}

.markdown .pl-ii {
  color: #fafbfc;
  background-color: #b31d28;
}

.markdown .pl-c2 {
  color: #fafbfc;
  background-color: #d73a49;
}

.markdown .pl-c2:before {
  content: "^M";
}

.markdown .pl-sr .pl-cce {
  font-weight: 700;
  color: #22863a;
}

.markdown .pl-ml {
  color: #735c0f;
}

.markdown .pl-mh,
.markdown .pl-mh .pl-en,
.markdown .pl-ms {
  font-weight: 700;
  color: #005cc5;
}

.markdown .pl-mi {
  font-style: italic;
  color: #24292e;
}

.markdown .pl-mb {
  font-weight: 700;
  color: #24292e;
}

.markdown .pl-md {
  color: #b31d28;
  background-color: #ffeef0;
}

.markdown .pl-mi1 {
  color: #22863a;
  background-color: #f0fff4;
}

.markdown .pl-mc {
  color: #e36209;
  background-color: #ffebda;
}

.markdown .pl-mi2 {
  color: #f6f8fa;
  background-color: #005cc5;
}

.markdown .pl-mdr {
  font-weight: 700;
  color: #6f42c1;
}

.markdown .pl-ba {
  color: #586069;
}

.markdown .pl-sg {
  color: #959da5;
}

.markdown .pl-corl {
  text-decoration: underline;
  color: #032f62;
}

.markdown .mb-0 {
  margin-bottom: 0!important;
}

.markdown .my-2 {
  margin-bottom: 8px!important;
}

.markdown .my-2 {
  margin-top: 8px!important;
}

.markdown .pl-0 {
  padding-left: 0!important;
}

.markdown .py-0 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.markdown .pl-1 {
  padding-left: 4px!important;
}

.markdown .pl-2 {
  padding-left: 8px!important;
}

.markdown .py-2 {
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}

.markdown .pl-3 {
  padding-left: 16px!important;
}

.markdown .pl-4 {
  padding-left: 24px!important;
}

.markdown .pl-5 {
  padding-left: 32px!important;
}

.markdown .pl-6 {
  padding-left: 40px!important;
}

.markdown .pl-7 {
  padding-left: 48px!important;
}

.markdown .pl-8 {
  padding-left: 64px!important;
}

.markdown .pl-9 {
  padding-left: 80px!important;
}

.markdown .pl-10 {
  padding-left: 96px!important;
}

.markdown .pl-11 {
  padding-left: 112px!important;
}

.markdown .pl-12 {
  padding-left: 128px!important;
}

.markdown hr {
  border-bottom-color: #eee;
}

.markdown kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.markdown:after,
.markdown:before {
  display: table;
  content: "";
}

.markdown:after {
  clear: both;
}

.markdown>:first-child {
  margin-top: 0!important;
}

.markdown>:last-child {
  margin-bottom: 0!important;
}

.markdown a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown blockquote,
.markdown details,
.markdown dl,
.markdown ol,
.markdown p,
.markdown pre,
.markdown table,
.markdown ul {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown hr {
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.markdown blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
}

.markdown blockquote>:first-child {
  margin-top: 0;
}

.markdown blockquote>:last-child {
  margin-bottom: 0;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown h1,
.markdown h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid #eaecef;
}

.markdown h2 {
  font-size: 1.5em;
}

.markdown h3 {
  font-size: 1.25em;
}

.markdown h4 {
  font-size: 1em;
}

.markdown h5 {
  font-size: .875em;
}

.markdown h6 {
  font-size: .85em;
  color: #6a737d;
}

.markdown ol,
.markdown ul {
  padding-left: 2em;
}

.markdown ol ol,
.markdown ol ul,
.markdown ul ol,
.markdown ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown li {
  word-wrap: break-all;
}

.markdown li>p {
  margin-top: 16px;
}

.markdown li+li {
  margin-top: .25em;
}

.markdown dl {
  padding: 0;
}

.markdown dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown table th {
  font-weight: 600;
}

.markdown table td,
.markdown table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown img {
  max-width: 100%;
  box-sizing: initial;
  background-color: #fff;
}

.markdown img[align=right] {
  padding-left: 20px;
}

.markdown img[align=left] {
  padding-right: 20px;
}

.markdown code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
}

.markdown pre {
  word-wrap: normal;
}

.markdown pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown .highlight {
  margin-bottom: 16px;
}

.markdown .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown .highlight pre,
.markdown pre {
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.markdown pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}

.markdown .prism-code {
  margin-bottom: 0;
}

.markdown .prism-code * {
  font-size: 13.333px !important;
}

.markdown .commit-tease-sha {
  display: inline-block;
  font-family: SFMono;
  font-size: 90%;
  color: #444d56;
}

.markdown .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

.markdown .blob-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

.markdown .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}

.markdown .blob-num {
  width: 1%;
  min-width: 50px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: SFMono;
  font-size: 12px;
  line-height: 20px;
  color: rgba(27,31,35,.3);
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.markdown .blob-num:hover {
  color: rgba(27,31,35,.6);
}

.markdown .blob-num:before {
  content: attr(data-line-number);
}

.markdown .blob-code {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 20px;
  vertical-align: top;
}

.markdown .blob-code-inner {
  overflow: visible;
  font-family: SFMono;
  font-size: 12px;
  color: #24292e;
  word-wrap: normal;
  white-space: pre;
}

.markdown .pl-token.active,
.markdown .pl-token:hover {
  cursor: pointer;
  background: #ffea7f;
}

.markdown .tab-size[data-tab-size="1"] {
  -moz-tab-size: 1;
  tab-size: 1;
}

.markdown .tab-size[data-tab-size="2"] {
  -moz-tab-size: 2;
  tab-size: 2;
}

.markdown .tab-size[data-tab-size="3"] {
  -moz-tab-size: 3;
  tab-size: 3;
}

.markdown .tab-size[data-tab-size="4"] {
  -moz-tab-size: 4;
  tab-size: 4;
}

.markdown .tab-size[data-tab-size="5"] {
  -moz-tab-size: 5;
  tab-size: 5;
}

.markdown .tab-size[data-tab-size="6"] {
  -moz-tab-size: 6;
  tab-size: 6;
}

.markdown .tab-size[data-tab-size="7"] {
  -moz-tab-size: 7;
  tab-size: 7;
}

.markdown .tab-size[data-tab-size="8"] {
  -moz-tab-size: 8;
  tab-size: 8;
}

.markdown .tab-size[data-tab-size="9"] {
  -moz-tab-size: 9;
  tab-size: 9;
}

.markdown .tab-size[data-tab-size="10"] {
  -moz-tab-size: 10;
  tab-size: 10;
}

.markdown .tab-size[data-tab-size="11"] {
  -moz-tab-size: 11;
  tab-size: 11;
}

.markdown .tab-size[data-tab-size="12"] {
  -moz-tab-size: 12;
  tab-size: 12;
}

.markdown .task-list-item {
  list-style-type: none;
}

.markdown .task-list-item+.task-list-item {
  margin-top: 3px;
}

.markdown .task-list-item input {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}

.markdown h1::before, .markdown h2::before, .markdown h3::before, .markdown h4::before { 
  display: block; 
  content: " "; 
  margin-top: -80px; 
  height: 80px; 
  visibility: hidden; 
  pointer-events: none;
}
