@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tw-nav-link {
    @apply block px-4 py-2 text-gray-600 font-bold hover:bg-gray-100 cursor-pointer flex-grow select-none;
  }
  .tw-nav-link-active {
    @apply bg-gray-600 text-gray-100 hover:bg-gray-600 hover:text-gray-100;
  }
  .tw-sub-nav-link {
    @apply block ml-6 px-4 py-2 text-gray-600 font-bold hover:bg-gray-100 cursor-pointer select-none;
  }
  .tw-sub-nav-link-active {
    @apply bg-gray-600 text-gray-100 hover:bg-gray-600 hover:text-gray-100;
  }

  .tw-toc-link {
    @apply block py-1 text-sm hover:text-blue-600;
  }
  .tw-toc-link-active {
    @apply text-blue-700;
  }
  .tw-toc-link-mobile {
    @apply text-lg;
  }
  .tw-toc-depth-1 {
    @apply pl-4
  }
  .tw-toc-depth-2 {
    @apply pl-8
  }
  .tw-toc-depth-3 {
    @apply pl-12
  }
  .tw-toc-depth-4 {
    @apply pl-16
  }

  .tw-heading-link {
    @apply ml-2 opacity-0 inline-flex cursor-pointer;
  }
  .tw-heading-link-icon {
    width: 15px;
    height: 15px;
  }

  .tw-admonition {
    @apply my-4 p-4 font-semibold rounded-lg;
  }
  .tw-admonition-cplncode {
    position: relative;
    border-radius: 3px;
    background-color: rgb(246, 248, 250);
    padding: 16px;
    overflow: auto;
    color: rgb(57, 58, 52);
    font-size: 13.333px;
    font-family: 'SFMono';
    margin-bottom: 16px;
  }
  .tw-sfmono {
    font-family: 'SFMono';
  }
  .tw-admonition-cplncode * {
    font-size: 13.333px;
    color: rgb(57, 58, 52);
    font-family: 'SFMono';
    white-space: pre;
    overflow: visible;
  }
  .tw-admonition-cplncode > p:last-of-type {
    margin-bottom: 0;
  }
  .tw-admonition-cplncode a {
    color: rgb(3, 102, 214) !important;
  }

  .tw-admonition-note {
    @apply bg-gray-200;
  }

  .tw-admonition-tip {
    @apply bg-green-100 text-green-700;
  }

  .tw-admonition-info {
    @apply bg-blue-100 text-blue-700;
  }

  .tw-admonition-warning {
    @apply bg-red-100 text-red-700;
  }

  .tw-admonition-caution {
    @apply bg-yellow-100 text-yellow-700;
  }

  .markdown h1:hover .tw-heading-link, .markdown h2:hover .tw-heading-link, .markdown h3:hover .tw-heading-link, .markdown h4:hover .tw-heading-link, .markdown h5:hover .tw-heading-link, .markdown h6:hover .tw-heading-link {
    @apply opacity-100;
  }

  .tw-header {
    @apply flex items-center justify-between px-4;
    @apply xl:px-8;
  }
  .tw-header > img {
    @apply w-32 h-20;
    @apply xl:w-24 xl:h-16;
  }
  .tw-header > span {
    @apply text-xs;
  }

  .tw-next-prev {
    @apply flex flex-col xl:flex-row justify-between xl:items-center mt-8 xl:mt-12;
  }
  .tw-next-prev-button {
    @apply flex-grow border rounded-lg p-6 hover:border-blue-600 cursor-pointer flex flex-col;
  }
  .tw-next-prev-button:hover > a {
    @apply text-blue-600;
  }
  .tw-next-prev-button > span {
    @apply inline-block text-sm;
  }
  .tw-next-prev-button > a {
    @apply text-base font-bold flex items-center;
  }
  .tw-next {
    @apply xl:ml-4 mt-2 xl:mt-0 items-end;
  }
  .tw-prev {
    @apply xl:mr-4 mb-2 xl:mb-0;
  }
  .tw-next-placeholder {
    @apply hidden xl:block flex-grow p-6 h-12 xl:ml-4;
  }
  .tw-prev-placeholder {
    @apply hidden xl:block flex-grow p-6 h-12 xl:mr-4;
  }

  .tw-admonition-cplncode .copy,
  .tw-code .copy {
    display: none;
  } 
  .tw-admonition-cplncode:hover .copy,
  .tw-code:hover .copy {
    display: block;
  } 

  .tw-tab {
    @apply outline-none border-0 bg-transparent mr-8 cursor-pointer;
    font-size:20px;
    padding:10px 20px;
    color:rgba(0, 0, 0, .4);
    transition:all ease-in-out .2s;
    border-bottom:2px solid transparent;
  }

  .tw-tab-active {
    @apply text-black outline-none;
    border-bottom:2px solid #42b3f4;
  }

  details, summary {
    @apply outline-none;
  }

  button:focus {
    @apply outline-none;
  }

  .tw-algolia-search-input {
    @apply px-4 py-2 rounded focus:outline-none focus:ring text-gray-500 bg-gray-100;
    width: 180px;
    height: 42px;
  }
}